### 輸入股票代碼，回傳股票資料

In [1]:
%matplotlib inline

import io
import requests
import datetime
import pandas as pd
import matplotlib.pyplot as plt

In [53]:
egg = input('請輸入三個移動平均天數：')

請輸入三個移動平均天數：5 10 30

In [82]:
egg.split()
egg[2]

'1'

In [63]:
def crawl_price(stock_id):
    now = int(datetime.datetime.now().timestamp())+186400 #用datatime讓period2到現在
    site = "https://query1.finance.yahoo.com/v7/finance/download/" + stock_id + "?period1=1549258000&period2=" + str(now) + "&interval=1d&events=history&crumb=hP2rOschxO0"

    response = requests.post(site)

    f = io.StringIO(response.text)
    df = pd.read_csv(f, index_col='Date', parse_dates=['Date'] )
    df = df.drop('Volume', axis = 1)
    
    ma_list = [ma1, ma2, ma3]
    for ma in ma_list:
        df['MA_' + str(ma)] = df['Adj Close'].rolling(ma).mean()
    
    return df

In [64]:
ham = input('請輸入想搜尋的股票代碼：')

請輸入想搜尋的股票代碼：2308

In [65]:
df

df = crawl_price(str(ham) + '.TW')
stock = '台股 ' + str(ham)
print(stock)
df.loc[:, 4: 7].plot();

ValueError: passed window 5 is not compatible with a datetimelike index

In [66]:
df

,Open,High,Low,Close,Adj Close,MA_5,MA_20,MA_60
Date,,,,,,,,
2019-02-11,153.5,153.5,150.0,151.5,146.780365,NaN,NaN,NaN
2019-02-12,152.5,154.0,152.0,153.0,148.233643,NaN,NaN,NaN
2019-02-13,155.0,155.0,153.0,153.5,148.718063,NaN,NaN,NaN
2019-02-14,153.5,156.5,153.5,154.5,149.686920,NaN,NaN,NaN
2019-02-15,155.5,156.0,154.0,155.0,150.171341,148.718066,NaN,NaN
2019-02-18,156.0,156.0,153.5,154.0,149.202484,149.202490,NaN,NaN
2019-02-19,154.0,154.0,151.5,152.5,147.749222,149.105606,NaN,NaN
2019-02-20,154.5,157.0,154.0,154.5,149.686920,149.299377,NaN,NaN
2019-02-21,156.0,156.0,153.5,155.0,150.171341,149.396262,NaN,NaN
2019-02-22,155.5,155.5,153.0,154.0,149.202484,149.202490,NaN,NaN
2019-02-25,155.5,156.0,153.0,154.0,149.202484,149.202490,NaN,NaN
2019-02-26,154.0,154.0,152.5,152.5,147.749222,149.202490,NaN,NaN
2019-02-27,154.0,155.0,153.5,153.5,148.718063,149.008719,NaN,NaN
2019-03-04,156.0,160.5,155.0,157.0,152.109024,149.396255,NaN,NaN
2019-03-05,157.0,157.5,152.5,153.5,148.718063,149.299371,NaN,NaN
2019-03-06,154.0,154.5,151.5,154.5,149.686920,149.396258,NaN,NaN
2019-03-07,154.5,154.5,153.0,153.5,148.718063,149.590027,NaN,NaN
2019-03-08,152.0,152.0,150.0,150.5,145.811523,149.008719,NaN,NaN
2019-03-11,151.0,153.5,150.5,152.0,147.264801,148.039874,NaN,NaN
2019-03-12,152.0,152.0,143.5,144.0,139.514023,146.199066,148.354748,NaN
2019-03-13,147.0,148.5,145.5,148.0,143.389404,144.939563,148.185200,NaN
2019-03-14,148.0,150.0,147.0,150.0,145.327103,144.261371,148.039873,NaN
2019-03-15,149.5,150.0,148.5,149.0,144.358246,143.970715,147.821883,NaN
2019-03-18,150.0,152.0,149.5,151.5,146.780365,143.873828,147.676555,NaN
2019-03-19,151.5,154.5,150.5,154.5,149.686920,145.908408,147.652334,NaN
2019-03-20,155.5,156.5,154.0,155.5,150.655762,147.361679,147.724998,NaN
2019-03-21,156.5,161.5,156.0,160.5,155.500000,149.396259,148.112537,NaN
2019-03-22,162.0,162.0,159.5,161.5,156.468842,151.818378,148.451633,NaN
2019-03-25,157.0,158.0,155.0,156.0,151.140182,152.690341,148.500075,NaN
2019-03-26,159.0,162.0,158.5,162.0,156.953262,154.143610,148.887614,NaN
...,...,...,...,...,...,...,...,...
2019-09-23,145.5,147.0,145.5,146.0,146.000000,146.400000,NaN,NaN
2019-09-24,145.5,146.0,142.5,143.0,143.000000,145.900000,NaN,NaN
2019-09-25,140.0,140.0,136.0,136.0,136.000000,143.800000,145.475000,NaN
2019-09-26,136.5,137.0,134.0,134.0,134.000000,140.900000,144.900000,NaN
2019-09-27,132.0,133.5,131.0,132.5,132.500000,138.300000,144.300000,NaN
2019-10-01,131.0,134.0,131.0,134.0,134.000000,135.900000,143.825000,NaN
2019-10-02,133.0,135.5,133.0,134.5,134.500000,134.200000,143.225000,NaN
2019-10-03,132.5,134.0,132.0,133.0,133.000000,133.600000,142.575000,NaN
2019-10-04,132.0,133.0,131.0,131.5,131.500000,133.100000,141.850000,NaN
2019-10-07,133.0,134.5,132.5,133.5,133.500000,133.300000,141.250000,NaN
2019-10-08,134.0,134.0,131.5,131.5,131.500000,132.800000,140.450000,NaN
2019-10-09,130.0,130.0,127.0,127.0,127.000000,131.300000,139.375000,NaN
2019-10-14,127.0,134.0,127.0,133.0,133.000000,131.300000,138.700000,NaN
2019-10-15,133.0,134.0,132.0,133.0,133.000000,131.600000,138.050000,NaN
2019-10-16,133.0,134.5,132.0,132.5,132.500000,131.400000,137.400000,NaN
2019-10-17,132.0,134.0,131.0,134.0,134.000000,131.900000,136.750000,NaN
2019-10-18,134.5,136.5,134.0,136.5,136.500000,133.800000,136.300000,NaN
2019-10-21,137.0,137.5,134.5,136.0,136.000000,134.400000,135.775000,NaN
2019-10-22,137.0,137.5,135.0,136.5,136.500000,135.100000,135.175000,NaN
2019-10-23,136.5,138.0,136.0,137.5,137.500000,136.100000,134.775000,NaN
2019-10-24,139.0,140.0,138.5,139.5,139.500000,137.200000,134.450000,NaN
2019-10-25,140.5,140.5,139.0,139.5,139.500000,137.800000,134.275000,NaN
2019-10-28,140.5,141.0,139.5,140.5,140.500000,138.700000,134.500000,NaN
2019-10-29,138.5,139.5,133.5,134.0,134.000000,138.200000,134.500000,NaN
2019-10-30,134.0,135.5,133.5,135.5,135.500000,137.800000,134.650000,NaN
2019-10-31,135.5,137.0,134.0,134.0,134.000000,136.700000,134.650000,NaN
2019-11-01,134.0,135.0,133.0,133.5,133.500000,135.500000,134.600000,NaN
2019-11-04,134.0,135.0,133.5,134.5,134.500000,134.300000,134.675000,NaN
2019-11-05,135.0,141.5,134.5,141.0,141.000000,135.700000,135.150000,NaN
2019-11-06,143.0,144.0,140.0,140.0,140.000000,136.600000,135.475000,NaN